@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lobster Two", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5b35c;
}

body .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  background-color: white;
  width: 500px;
  height: 700px;
  padding: 50px 50px;
  border-radius: 50px;
}

body .card .logos,
body .card .title,
body .card .ingredients {
  width: 100%;
}

body .card .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .card .logos img,
body .card .logos label {
  width: 50px;
  height: 50px;
}

body .card .logos label {
  background-image: url("assets/heart.png");
  background-repeat: no-repeat;
  background-size: contain;
}

body .card > label {
  background-image: url("assets/plats.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  top: 150px;
  z-index: 100;
}

body .card > p {
  font-size: 2rem;
  font-weight: 700;
  width: 7ch;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  left: 220px;
  top: 150px;
}

body .card .ingredients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 400px;
  font-size: 1.3rem;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

body .card .ingredients div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

body .card .ingredients div p {
  margin: 0;
  padding: 0;
  opacity: 1;
}

body .card .ingredients div p:nth-child(1) {
  width: 4ch;
  text-align: end;
  font-weight: 700;
}

body .card .ingredients div p:nth-child(2) {
  font-family: serif;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]#heart:checked ~ .card .logos label {
  background-image: url("assets/full_heart.png");
}

input[type="checkbox"]#plat:checked ~ .card > label {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-transform: translate(100px, 180px);
          transform: translate(100px, 180px);
}

input[type="checkbox"]#plat:checked ~ .card > p {
  font-size: 2.5rem;
  left: 50px;
}

input[type="checkbox"]#plat:checked ~ .card .ingredients {
  opacity: 0;
}

input[type="checkbox"]#plat:checked ~ .card .ingredients div {
  opacity: 0;
}

input[type="checkbox"]#plat:not(:checked) ~ .card .ingredients div:nth-child(6) {
  -webkit-transition: opacity 0.1s linear 0.1s;
  transition: opacity 0.1s linear 0.1s;
}

input[type="checkbox"]#plat:not(:checked) ~ .card .ingredients div:nth-child(5) {
  -webkit-transition: opacity 0.1s linear 0.2s;
  transition: opacity 0.1s linear 0.2s;
}

input[type="checkbox"]#plat:not(:checked) ~ .card .ingredients div:nth-child(4) {
  -webkit-transition: opacity 0.1s linear 0.3s;
  transition: opacity 0.1s linear 0.3s;
}

input[type="checkbox"]#plat:not(:checked) ~ .card .ingredients div:nth-child(3) {
  -webkit-transition: opacity 0.1s linear 0.4s;
  transition: opacity 0.1s linear 0.4s;
}

input[type="checkbox"]#plat:not(:checked) ~ .card .ingredients div:nth-child(2) {
  -webkit-transition: opacity 0.1s linear 0.5s;
  transition: opacity 0.1s linear 0.5s;
}

input[type="checkbox"]#plat:not(:checked) ~ .card .ingredients div:nth-child(1) {
  -webkit-transition: opacity 0.1s linear 0.6s;
  transition: opacity 0.1s linear 0.6s;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */