@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lobster Two", cursive;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 179, 92);

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    background-color: white;
    width: 500px;
    height: 700px;

    padding: 50px 50px;

    border-radius: 50px;

    .logos,
    .title,
    .ingredients {
      width: 100%;
    }

    .logos {
      display: flex;
      justify-content: space-between;

      img,
      label {
        width: 50px;
        height: 50px;
      }

      label {
        background-image: url("assets/heart.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    & > label {
      background-image: url("assets/plats.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 150px;
      height: 150px;
      transition: all 0.4s;

      position: absolute;
      top: 150px;
      z-index: 100;
    }

    & > p {
      font-size: 2rem;
      font-weight: 700;
      width: 7ch;
      transition: all 0.4s;
      position: absolute;
      left: 220px;
      top: 150px;
    }

    .ingredients {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 400px;
      font-size: 1.3rem;
      transition: opacity 0.4s;

      div {
        display: flex;
        gap: 20px;

        p {
          margin: 0;
          padding: 0;
          opacity: 1;

          &:nth-child(1) {
            width: 4ch;
            text-align: end;
            font-weight: 700;
          }

          &:nth-child(2) {
            font-family: serif;
          }
        }
        // @for $i from 1 through 6 {
        //   &:nth-child(#{7 - $i}) {
        //     transition: opacity 0.1s linear 0.1s * $i;
        //   }
        // }
      }
    }
  }
}

input[type="checkbox"] {
  display: none;

  &#heart:checked {
    & ~ .card {
      .logos {
        label {
          background-image: url("assets/full_heart.png");
        }
      }
    }
  }

  &#plat:checked {
    & ~ .card {
      & > label {
        position: absolute;
        width: 300px;
        height: 300px;

        transform: translate(100px, 180px);
      }

      & > p {
        font-size: 2.5rem;
        left: 50px;
      }

      .ingredients {
        opacity: 0;

        div {
          opacity: 0;
        }
      }
    }
  }

  &#plat:not(:checked) {
    & ~ .card .ingredients div {
      @for $i from 1 through 6 {
        &:nth-child(#{7 - $i}) {
          transition: opacity 0.1s linear 0.1s * $i;
        }
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
